<h3>Heroes list</h3>
<ul class="mt-3 list-group">
  <li class="list-group-item"
      *ngFor="let hero of heroes;
      let i = index">
      {{ i + 1 + '. ' }} {{ hero }}
  </li>
</ul>
<button *ngIf="heroes.length > 0"
        class="btn btn-outline-danger my-3"
        (click)="deleteLastHero()">
        Delete last hero
</button>
<div *ngIf="lastHeroDeleted; else elseBlock">
  <h4>Last hero deleted:
    <strong class="text-danger">
      {{ lastHeroDeleted }}
    </strong>
  </h4>
</div>
<ng-template #elseBlock>
  <h4>There's no hero deleted yet...</h4>
</ng-template>
<h4 *ngIf="heroes.length === 0">There's nothing to see...</h4>
